
@import "menu.css";
@import "classes.css";

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root{
  font-size: 20px;
  --menu-width: 30vw;
  --dark-blue: rgb(13, 0, 80);
  font-family: Roboto;
}

html{
  padding: 0;
  margin: 0;
  background-color: rgb(172, 238, 255);
}

main{
  padding-left: var(--menu-width);
}

.tux-container{
  display: flex;
}

h1{
  font-size: 1.5rem;
}
