
@import "menu.css";
@import "classes.css";

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root{
  font-size: 20px;
  --dark-blue: rgb(13, 0, 80);
  font-family: Roboto;
}

html{
  padding: 0;
  margin: 0;
  background-color: rgb(172, 238, 255);
}

main{
  padding-left: 30vw;
}

.tux-container{
  display: flex;
}

h1{
  font-size: 1.5rem;
}

.search-result{
  padding: 5px;
}

.search-result:hover{
  background-color: rgba(0, 79, 255, 0.32);
}
