
nav{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  max-width: 400px;
  overflow: scroll;
}

.nav-item{
  background-color: rgb(0, 22, 168);
  text-decoration: none;
  color: rgb(241, 241, 241);
  padding: 20px;
  font-size: 1rem;
}

.nav-item:hover{
  background-color: rgb(91, 225, 255);
  color: var(--dark-blue);
}

#search-input, #search-btn{
  border: none;
  outline: none;
  margin: 5px;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#search-btn:hover{
  background-color: rgb(74, 152, 255);
  cursor: pointer;
}
